@page "/counter"
@inject IJSRuntime jsRuntime
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount" @ref="AddNumberRef">Click me</button>
<div style="display:none;" @ref="ShowMessage">
    <span class="add">Added one</span>
</div>

@code {
    private int currentCount = 0;
    private IJSObjectReference? Module { get; set; }
    private ElementReference AddNumberRef;
    private ElementReference ShowMessage;

    private async Task IncrementCount()
    {
        currentCount++;
        await Module.InvokeVoidAsync("ToggleElement", AddNumberRef);
        await Module.InvokeVoidAsync("ToggleElement", ShowMessage);
    }

    protected override async Task OnInitializedAsync()
    {

        Module = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "/js/JSInterlop.js");
        await Module.InvokeVoidAsync("DisplayAlert", "Hello");

    }
}
