@page "/login"
@inherits LoginBase

<!-- Feedback Modal-->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary-to-secondary p-4">
                <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Login</h5>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 p-4">
                <EditForm Model="login" OnValidSubmit="OnValidSubmit" id="contactForm">
                    <DataAnnotationsValidator />
                    <!-- Email address input-->
                    <ValidationMessage For="() => login.Email" />
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="login.Email" class="form-control" id="email" type="email"
                            placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Password input-->
                    <div class="form-floating mb-3">
                        <RadzenPassword class="form-control" id="password" type="tel"
                            data-sb-validations="required" />
                        <label for="password">Password</label>
                        <div class="invalid-feedback" data-sb-feedback="password:required">
                            A Password is required.
                        </div>
                    </div>
                    <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg" id="submitButton"
                            type="submit">Submit</button></div>
                </EditForm>
                 Don't have an account?
            <RadzenLink Href="/register" Underline="Underline.Always">Sign Up</RadzenLink>
            </div>
        </div>
    </div>
</div>