@using MudBlazor

@inherits LayoutComponentBase

<div class="main-container">
    <NavMenu />
    <div class="page">
        <main>
            @Body
        </main>
    </div>
    <Footer />
</div>
<Cotrucking.Wasm.Pages.Account.Login/>
<RadzenComponents />
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />