@inherits OverviewBase

<div class="d-flex justify-content-center mt-3">
    <RadzenButton Text="Move Your Goods" Class="mr-2" Click="() => Navigation.NavigateTo(PageLinks.Shipment)" Style="background-color: #334;" />
    <RadzenButton Text="Rent" Class="mr-2" Click="() => Navigation.NavigateTo(PageLinks.Rental)" Style="background-color: #333;" />
    <RadzenButton Text="On the Go" Class="mr-2"  Click="() => Navigation.NavigateTo(PageLinks.Transporter)" Style="background-color: #333;" />
    <RadzenButton Text="Drive with Us" Class="mr-2" Click="() => Navigation.NavigateTo(PageLinks.TransporterCreate)" Style="background-color: #333;" />
</div>
<div class="d-flex justify-content-center mt-4">
    <RadzenTextBox Placeholder="Collection address" Style="margin-right: 10px;" />
    <RadzenTextBox Placeholder="Delivery address" />
    <RadzenButton Text="See prices" Class="ml-2" Style="background-color: yellow; color: black;" />
</div>
<div class="text-center mt-3">
    <RadzenButton Text="Business solution" Click="() => Navigation.NavigateTo(PageLinks.Company)" Style="background-color: #444; color: white;" />
</div>
<div class="text-center mt-4">
    <RadzenIcon Icon="star" Style="color: gold;" />
    <RadzenIcon Icon="star" Style="color: gold;" />
    <RadzenIcon Icon="star" Style="color: gold;" />
    <RadzenIcon Icon="star" Style="color: gold;" />
    <RadzenIcon Icon="star_half" Style="color: gold;" />
    <p class="text-white">4.8/5</p>
</div>
@* <img src="https://autoimage.capitalone.com/stock-media/evox/2024-Chevrolet-Silverado_1500-WT-GAZ-53551_cc2400_032_GAZ.png?width=640&height=480" class="position-absolute" style="right: 0; top: 20%;" />
 *@