<RadzenHtml Tag="h1" Class="text-white text-center mt-5">
    The easiest way to move a vehicle
</RadzenHtml>
<div class="d-flex justify-content-center mt-3">
    <RadzenButton Text="A vehicle to move?" Class="mr-2" Style="background-color: #333;" />
    <RadzenButton Text="Become a driver" Class="mr-2" Style="background-color: #333;" />
    <RadzenButton Text="Rental for £1" Style="background-color: #333;" />
</div>
<div class="d-flex justify-content-center mt-4">
    <RadzenTextBox Placeholder="Collection address" Style="margin-right: 10px;" />
    <RadzenTextBox Placeholder="Delivery address" />
    <RadzenButton Text="See prices" Class="ml-2" Style="background-color: yellow; color: black;" />
</div>
<div class="text-center mt-3">
    <RadzenButton Text="Business solution" Style="background-color: #444; color: white;" />
</div>
<div class="text-center mt-4">
    <RadzenIcon Icon="star" Style="color: gold;" />
    <RadzenIcon Icon="star" Style="color: gold;" />
    <RadzenIcon Icon="star" Style="color: gold;" />
    <RadzenIcon Icon="star" Style="color: gold;" />
    <RadzenIcon Icon="star_half" Style="color: gold;" />
    <p class="text-white">4.8/5</p>
</div>
<img src="path/to/vehicle-image.png" class="position-absolute" style="right: 0; top: 20%;" />
