@page "/shipment/create"
@inherits ShipmentEditBase

<RadzenTemplateForm Data="@Shipment" TItem="ShipmentModel"  OnValidSubmit="HandleValidSubmitAsync">
    <div class="form-group">
        <RadzenLabel Text="Vehicle" />
        <RadzenDropDown @bind-Value="Shipment.VehiculeId"
                        Data="@vehicles"
                        TextProperty="Model"
                        ValueProperty="Id"
                        Placeholder="Select a vehicle"
                        Style="width: 100%;" />
    </div>

    <div class="form-group">
        <RadzenLabel Text="Expedition Type" />
        <RadzenDropDown @bind-Value="Shipment.ExpeditionType"
                        Data="@expeditionTypes"
                        Placeholder="Select an expedition type"
                        Style="width: 100%;" />
    </div>

    <div class="form-group">
        <RadzenLabel Text="Description" />
        <RadzenTextBox @bind-Value="Shipment.Description"
                       Placeholder="Enter a description"
                       Style="width: 100%;" />
    </div>

    <div class="form-group">
        <RadzenLabel Text="Start Location" />
        <RadzenTextBox @bind-Value="Shipment.OriginAddress.Address"
                       Placeholder="Enter the starting point"
                       Style="width: 100%;" />
    </div>

    <div class="form-group">
        <RadzenLabel Text="End Location" />
        <RadzenTextBox @bind-Value="Shipment.DestinationAddress.Address"
                       Placeholder="Enter the destination"
                       Style="width: 100%;" />
    </div>

    <RadzenButton ButtonType="ButtonType.Submit" Text="Add Expedition" Style="margin-top: 20px;" />
</RadzenTemplateForm>
