@page "/Company/Create"
@page "/Company/{Id:guid?}"
@inherits CompanyEditBase

<PageTitle> Company name @company.Name</PageTitle>
<EditForm Model="@company" FormName="frmcompany" OnValidSubmit="HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <div>
            <InputText id="name" class="form-control" @bind-Value="@company.Name" placeholder="Company Name" />
            <ValidationMessage For="@(() => company.Name)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add company</button>
</EditForm>
