<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- 
    ALL
    DEBUG
    INFO
    WARN
    ERROR
    FATAL
    OFF
-->
  <root>
    <level value="ALL"/>
    <appender-ref ref="FileAppender" />
  </root>

  <logger name="FileAppender">
    <level value="ALL"/>
    <appender-ref ref="FileAppender" />
  </logger>

  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender" >
    <file type="log4net.Util.PatternString" value="C:\Users\kbenchari\source\repos\Khaoula1305\CoTruckingAPI\Logs\%date{yyyy-MM-dd}\Cotrucking.xml" />
    <param name="AppendToFile" value="true" />
    <!-- Indique si le fichier sera écrasé (false) ou si  les logs seront écrits à la suite (true).-->
    <rollingStyle value="Size" />
    <!-- Définit le critère suivant lequel sera renommé le fichier. -->
    <maxSizeRollBackups value="2" />
    <!-- La taille max par journée ne doit pas déppasser 3M+1. -->
    <maximumFileSize value="10MB" />
    <!-- Taille max par fichier 1M. -->

    <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
      <locationInfo value="true" />
    </layout>
  </appender>
</log4net>